extends ./pug/base
include ./pug/mixins

block content
  section.intro
    .intro__container
      //- Phone
      .phone.intro__phone
        .phone__screen
          //- Chat
          .chat(aria-hidden="true")
            +chat-header(chat.header.user)
            +chat-content(chat.content)
            +chat-form(chat.placeholder)

      //- Description
      .description.intro__description
        h1.description__heading= description.heading
        p.description__text= description.text
